/* styles.css */

* {
	font-family: Arial;
}

body {
	background: url("../img/flames.gif");
	margin: 1rem; 
	background-color: black; 
	color: whitesmoke; 
	font-size: 5rem; 
	overflow: hidden; 
	background-repeat: no-repeat; 
	background-position: center; 
	background-size: cover; 
	transition-property: transform; 
	transition-duration: 3s; 
	
}

html {
	width: 100%; 
	height: 100%; 
}

.grid-container {
	display:grid; 
	grid-template-columns: 1fr 1fr 1fr; gap: 2rem; 
	margin: 10% 4rem 0 4rem; 
}

.last {
	padding-bottom: 2rem; 
	border-bottom: 2px solid rgb(220, 200, 180);
}
